.contact-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 32px;
    padding-bottom: 17px;
    border-bottom: 1px solid #E1E1E1;
    h1 {
        font-size: 30px;
        line-height: 1.2;
        color: $dgr;
        padding-right: 9px;
    }
}
.contact-caption-select {
    select {
        cursor: pointer;
        float: left;
        width: 100%;
        padding: 2px 44px 4px 0;
        font-size: 30px;
        line-height: 1;
        font-family: $ff;
        font-weight: 500;
        color: $p;
        white-space: nowrap;
        background: $tr url('../upload/select-big.svg') 100% 50% no-repeat;
        background-size: 29px 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border-radius: 0;
        border: 0;
    }
    select::-ms-expand {
        display: none;
    }
}
.contact-caption-select-link {
    display: block;
    padding: 2px 44px 4px 0;
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    background: $tr url('../upload/select-big.svg') 100% 50% no-repeat;
    background-size: 29px 14px;
}
.contact-info {
    display: flex;
    margin: 0 -10px 38px;
    color: $dgr;
}
.contact-info-block {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 10px;
}
.contact-info-block-x2 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    padding: 0 10px;
}
.contact-info-block-x2-row {
    display: flex;
    margin: 0 -10px 11px;
    .contact-info-block {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.contact-info-note {
    padding: 24px 30px 26px;
    font-size: 13px;
    line-height: 1.54;
    background: #FFF1BD;
}
.contact-info-address,
.contact-info-phone,
.contact-info-mail {
    padding: 13px 0 8px;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: $b;
    a {
        color: $b;
        &:hover {
            color: $text;
        }
    }
}
.contact-info-address,
.contact-info-mail {
    padding-top: 8px;
}
.contact-info-callback {
    display: inline-block;
    vertical-align: top;
    margin: 0 -10px;
    padding: 4px 10px;
    font-weight: 500;
    letter-spacing: -0.2px;
}
.contact-info-options {
    display: block;
    margin-top: -5px;
    li {
        margin-bottom: 5px;
    }
}
.contact-info-comment,
.contact-info-report {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
    position: relative;
    padding: 6px 10px 7px 42px;
    &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 18px;
        height: 18px;
        background: $tr url('../upload/comment-green.svg') 50% 50% no-repeat;
        background-size: 100% 100%;
    }
}
.contact-info-report {
    &:before {
        top: 5px;
        background-image: url('../upload/report.svg');
    }
}
.contact-map-block {
    margin-bottom: 70px;
    position: relative;
    background: $s;
}
#contact-map {
    height: 540px;
}
.contact-map-company {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 460px;
    background: $w;
    color: $dgr;
    line-height: 1.54;
    box-sizing: border-box;
}
.contact-map-company-content {
    padding: 23px 30px 27px;
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
    p {
        margin-bottom: 20px;
    }
}
.contact-map-company-logo {
    margin-bottom: 24px;
    a {
        display: inline-block;
        vertical-align: top;
    }
}
.contact-map-company-worktime {
    padding: 2px 0 12px;
    margin: 0 -3px;
}
.contact-map-company-worktime-title {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: $b;
    margin-bottom: 15px;
    padding: 0 3px;
}
.contact-map-company-worktime-table {
    margin-bottom: 15px;
    width: 100%;
    table-layout: fixed;
    th {
        text-align: center;
        padding: 0 3px 11px;
        vertical-align: top;
        span {
            display: block;
            text-align: center;
            padding: 7px 5px 8px;
            line-height: normal;
            font-weight: 500;
            color: $text;
            text-transform: uppercase;
            background: $s;
            border-radius: 3px;
        }
    }
    td {
        text-align: center;
        padding: 0 3px;
        vertical-align: middle;
    }
}
.contact-map-delivery-info {
    min-height: 120px;
    margin-bottom: 8px;
}
.contact-map-delivery-info-block {
    display: flex;
    padding-bottom: 20px;
}
.contact-map-delivery-info-number {
    padding-right: 20px;
    min-width: 84px;
    font-size: 31px;
    line-height: 1.07;
    font-weight: 900;
    letter-spacing: -0.3px;
}
.contact-map-delivery-info-text {
    flex-grow: 1;
}
.contact-map-delivery-terms {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -0.2px;
    position: relative;
    padding: 11px 10px 9px 38px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -12px;
        left: 0;
        width: 19px;
        height: 25px;
        background: $tr url('../upload/delivery-terms.svg') 50% 50% no-repeat;
        background-size: 100% 100%;
    }
}
.contact-map-delivery-title {
    padding: 3px 0 16px;
    font-size: 20px;
    line-height: 1.2;
    color: $b;
}
.contact-detail {
    padding: 69px 0 50px;
    background: $s;
    margin-bottom: 93px;
}
.contact-detail-wrapper {
    padding-left: 255px;
}
.contact-detail-content {
    display: flex;
    margin: 0 -10px;
}
.contact-detail-block {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 10px;
    color: $b;
    p {
        margin-bottom: 25px;
        line-height: 1.93;
        a {
            color: $dgr;
            &:hover {
                color: $b;
            }
        }
    }
}
.contact-detail-title {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    padding: 8px 0 7px;
}
.contact-detail-complaint {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -0.2px;
    position: relative;
    padding: 10px 10px 10px 38px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 0;
        width: 19px;
        height: 25px;
        background: $tr url('../upload/complaint.svg') 50% 50% no-repeat;
        background-size: 100% 100%;
    }
}