.filter-range {
    margin-bottom: 15px;
}
.filter-range-input-wrapper {
    display: flex;
    margin: 0 -5px 24px;
}
.filter-range-input {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 5px;
    textarea.textarea,
    input.input-text {
        color: $dgr;
        padding-top: 8px;
        padding-bottom: 7px;
    }
}
.filter-range-input-min {}
.filter-range-input-max {}
.filter-range-slider {
    cursor: pointer;
    position: relative;
    height: 6px;
    background: #EBEBEB;
}
.filter-range-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    background: $p;
}
.filter-range-handle-min,
.filter-range-handle-max {
    position: absolute;
    top: -6px;
    width: 18px;
    height: 18px;
    margin-left: -1px;
    border: 4px solid $p;
    background: $w;
    border-radius: 50%;
    transition: box-shadow $d $f;
    &:hover,
    &:active {
        box-shadow: 0 0 0 8px rgba(131, 193, 80, 0.3);
    }
}
.filter-range-handle-max {
    margin-left: 1px;
}